* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body {
    margin: 3rem 6rem;
    margin-bottom: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}
header,
footer {
    font-size: x-large;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: black;
    font-weight: 600;
    gap: 34px;

}

header .menu_list a,
footer .menu_list a {
    margin: 0 20px;
    text-decoration: none;

}

.hero_sec,
.sec_2,
.sec_4 {
    margin: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.hero_sec .contant h1 {

    font-size: 70px;
}

.hero_sec .contant span {
    font-size: x-large;
}

.hero_img img {
    border-radius: 6%;
}

.sec_2 {
    border: 1px solid #ccc;
    align-items: center;

}

.sec_2 .contant,
.sec_3 .contant,
.sec_4 .contant {
    padding: 40px;
    line-height: 63px;
}

.contant p {
    line-height: normal;
}

.sec_2 img {
    border-radius: 0%;
    height: fit-content;
}

.d_readmore {
    display: flex;
    justify-content: space-between;
    color: black;
}
.d_readmore a{
    color: rgb(43, 42, 42);
    font-size:20px;
    text-decoration: none;
}
.d_readmore a:hover{
    color: rgb(7, 121, 58);
}
.sec_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 {
    box-shadow: inset 20px 4px 35px 2px #ccc;
}

.sec_3 .contant {
    padding: 23px;
}

.sec_3 .card1,
.card1 img {
    width: 300px;
}

.sec_4 {
    justify-content: center;
    background-color:  rgb(226 172 115 / 33%);
    gap: 0;
}

.btn {

    display: flex;
    align-items: right;
    justify-content: end;

}

button {
    background-color: rgb(82, 9, 150);
    color: white;
    padding: 13px;
    font-size: larger;
    border: none;
    border-radius: 7px;
    margin: 23px;
    transition: all 0.3s ease-in;
}
button:hover{
    box-shadow: 4px 3px 0px rgb(2, 2, 2);
}