*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
}
html,body{
    scroll-behavior: smooth;
}
body{
    font-weight: 400;
    display: flex;
   
    line-height: 1.4;
    font-size: larger;
}
header{
    width:100%;
    border: 1px solid #ccc;
    height: 100vh;
   position: sticky;
   top: 0;
    
}
nav h2{
    font-size: 25px;
    font-weight: 400;
    padding: 10px; border-bottom:1px solid #ccc;
    color: black;
}
 nav ul li{
     border-bottom:1px solid #ccc;
     padding: 10px;  list-style: none;
 }
 nav ul li:hover{
     background-color: #ccc;
     transition: 0.3s ease-in;
   
 }
  a{
     text-decoration: none;
 }
main{
    margin: 55px;
    margin-bottom: 50vh;
}
section{
 padding-bottom:34px ;  
}
h4{
   line-height: 45px; 
}
main{
    padding: 50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;
}
section article{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section article ul{
    margin-left: 27px;
}
section h4{
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
section article ul li{
    margin-bottom: 3px;
}
code{
    white-space:pre-line;
    line-height: 2;
    background: rgba(206, 200, 200, 0.689);
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 14px;
}
@media(max-width:480px){
body{
    flex-direction: column;
}
header{
    height:200px;
    overflow: hidden;
    overflow-y: scroll;
}
main{
padding: 0%;
}
code{
    
  word-wrap: break-word;
  
}
}